@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans/FiraSans-Bold.ttf"),
        url("fonts/FiraSans/FiraSans-BoldItalic.ttf"),
        url("fonts/FiraSans/FiraSans-Italic.ttf"),
        url("fonts/FiraSans/FiraSans-Light.ttf"),
        url("fonts/FiraSans/FiraSans-LightItalic.ttf"),
        url("fonts/FiraSans/FiraSans-Medium.ttf"),
        url("fonts/FiraSans/FiraSans-MediumItalic.ttf"),
        url("fonts/FiraSans/FiraSans-Regular.ttf");
}
@font-face {
    font-family: "FontAwesome";
    src: url("fonts/FontAwesome/FontAwesome.otf"),
         url("fonts/FontAwesome/FontAwesome.ttf");
}
body{
  margin: 0;
  font-family: FiraSans;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -72px;
}
* html .page-wrapper {
    height: 100%;
}
header{
  color: white;
}
.top-info{
  height: 62px;
  background-color: rgb(140, 195, 75);
  padding: 15px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user{
  height: 60px;
  width: 350px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-pict{
  height: 100%;
  width: 60px;
  border-radius: 50%;
  border: 2px solid white;

  margin-right: 18px;
}
.user-info{
  line-height: 14px;
}
.logo-pict img{
  width: 100%;
  height: 100%;
border-radius: 50%;
}
.user h3{
  margin-top: 9px;

}
.social{

  width: 160px;

}
.social-btn{
  width: 34px;
  height: 34px;
  margin-right: 10px;
  display: inline-block;
}
.vk{
  margin: 0;
}

.wrapper{
  width: 940px;
  height: auto;
  margin: 0 auto;
}
.student{
  text-align: center;
}
.student h2{
  font-size: 28px;
}
.student .wrapper>span{
  font-size: 22px;
  color: #727272;
}
.student .wrapper{
  padding-top: 70px;
  padding-bottom: 70px;
}
.info{
  width: 460px;
  height: 100%;
  float: left;
  margin-right: 20px;
  position: relative;
}
.experience{
  margin-right: 0;
}
.info-wrapper{
  clear: both;
  content: '';
  display: table;
  height: 200px;
  margin-top: 42px;
}
.info .text-info{
  position: absolute;
  left: 160px;
  /* Base text style */
width: 275px;
height: 164px;
font-family: FiraSans;


/* Text style for "Я живу в Санкт" */
color: #727272;
}
.info .text-info p{
  font-size: 14px;
  font-weight: 100;
  line-height: 21px;
}
.info .text-info h4{
  color: black;
  margin-top: 0;
  margin-bottom: 18px;
}
.info .picture{
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  margin-right: 20px;
}
.about-me .picture{
  background: url("icons/hello.svg") center center no-repeat;
  background-size: contain;
}
.experience .picture{
  background: url("icons/experience.svg") center center no-repeat;
  background-size: contain;
}
.courses{
  background: url("gplaypattern.png") repeat;

  height: auto;
}
.courses h2{
  font-size: 28px;
}
.courses-header span{
  font-size: 22px;
  color: #727272;
  font-weight: normal;
}
.courses-header{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.courses .wrapper{
  padding-top: 77px;
  padding-bottom: 85px;
}
.passed{
  width: 295px;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  /* background-color: rgb(247, 246, 240); */
  background-color: white;
  height: auto;
  box-shadow: 0 0 4px rgba(0,0,0, 0.6);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
          display: inline-block;
  margin-right: 20px;
}
.basic, .adaptive-css{
  margin-right: 0;
}
.passed h3{
  color: #8cc34b;
font-family: FiraSans;
font-size: 21px;
font-weight: 400;
line-height: 28px;
}
.passed .text{
  color: #727272;
font-family: FiraSans;
font-size: 14px;
font-weight: 300;
line-height: 21px;
}
.passed-wrapper{
  text-align: left;
  font-size: 0px;
}
/*
.basic, .adaptive-css{
  margin-right: 0;
}
*/
.passed .img{
  width: 100%;
  height: 245px;
  background-size: contain;
}
.js .img{
  background: url()
}
.passed .text{
  padding-top: 25px;
  border-top: 3px solid transparent;
  padding: 0 10px;
  margin-bottom: 10px;
}
.passed:hover .text h3{
  color:green;

}
.passed:hover .text{
    border-top: 3px solid green;
}
label, input{
  display: inline-block;
  color: rgb(133, 133, 133);
}
label{
  margin-top:11px;
  color: #727272;
font-family: FiraSans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
}
input{
  margin-right: 19px;
  margin-left: 20px;
}
.js .img{
  background: url("icons/js.png") 0 0 no-repeat;
  background-size: contain;
}
.jquery .img{
  background: url("icons/jquery.png") 0 0 no-repeat;
  background-size: contain;
}
.basic .img{
  background: url("icons/basic.png") 0 0 no-repeat;
  background-size: contain;
}
.responsive .img{
  background: url("icons/adapt.png") 0 0 no-repeat;
  background-size: contain;
}
.resp-css .img{
  background: url("icons/resp.png") 0 0 no-repeat;
  background-size: contain;
}
.adaptive-css .img{
  background: url("icons/gal.png") 0 0 no-repeat;
  background-size: contain;
}
.passed span{
  color: rgb(207, 207, 207);
}
footer{
  height: 72px;
  background-color: rgb(33, 33, 33);
  text-align: center;
  color: rgb(207, 207, 207);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  font-size: 14px;
}
footer .positioner{
  width: 500px;
}
.block-wrapper{
  background-color: rgb(247, 246, 240);
  z-index: 2;
  height: 50px;
}
.responsive .text{
  margin-bottom: 50px;
}
.mask{
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#all-over{
  display: none;
  font-size: 25px;
  color: black;
  -ms-flex-item-align: center;
      align-self: center;
}
.please{
  font-size: 11px;
  color: rgb(207, 207, 207);
}
h2{
  color: #212121;
font-size: 42px !important;
font-weight: 500;
line-height: 28px;
}
h4{
  font-size: 21px;
font-weight: 400;
line-height: 28px;
}
